<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<body>
<div th:fragment="content">
<h2>Opret din ønskeliste idag!</h2>

    <h5>Log ind eller opret en konto for at komme videre</h5>

<div sec:authorize="isAnonymous()">
    <a class="button" th:href="@{/login}">Log ind</a>
    <a class="button" th:href="@{/register}">Opret konto</a>
</div>

<div sec:authorize="isAuthenticated()">

    <form th:action="@{/logout}" method="post">
        <div><input class="button" type="submit" value="Log ud"/></div>
    </form>
</div>
</div>
</body>
</html>