<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      th:replace="~{layout :: layout}"
      xmlns:th="https://www.thymeleaf.org">

<body>
<div th:fragment="content">
<h2 class="sub-title">Opret konto</h2>

    <form th:action="@{/register}" th:object="${user}" method="post">

        <div class="form-row">
            <label for="firstName">Navn:</label>
            <input type="text" id="firstName" th:field="*{firstName}">
        </div>

        <div class="form-row">
            <label for="lastName">Efternavn:</label>
            <input type="text" id="lastName" th:field="*{lastName}">
        </div>

        <div class="form-row">
            <label for="Email">Email:</label>
            <input type="email" id="Email" th:field="*{email}">
        </div>

        <div class="form-row">
            <label for="Password">Adgangskode:</label>
            <input type="password" id="Password" th:field="*{password}">
        </div>

        <button class="button" type="submit">Opret bruger</button>
        <a class="button-secondary" th:href="@{/}">Annuller</a>

    </form>
</div>
</body>
</html>