<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout}">

<body>
<div th:fragment="content">

<h2>Opret nyt ønske til 'wishlist title'</h2>

<form th:action="@{/saveItem}" th:object="${item}" method="post">

    <input type="hidden" id="id" th:field="*{id}">
    <input type="hidden" id="wishlistId" th:field="*{wishlistId}">

    <label for="name">Titel:</label>
    <input type="text"
           placeholder="Hvad ønsker du dig?"
           id="name"
           th:field="*{name}"><br><br>

    <label for="description">Ønske beskrivelse:</label>
    <input type="text"
           placeholder="Ekstra info (fx farve, model)"
           id="description"
           th:field="*{description}"><br><br>

    <label for="price">Pris:</label>
    <input type="number"
           placeholder="Ca. pris"
           id="price"
           th:field="*{price}"><br><br>

    <label for="link">Produktlink:</label>
    <input type="text"
           placeholder="Indsæt link til produkt"
           id="link"
           th:field="*{link}"><br><br>

    <button class="button" type="submit">Gem</button>
    <a class="button-secondary" th:href="@{/}">Annuller</a>
</form>
</div>
</body>
</html>