<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout}">

<body>
<div th:fragment="content">
<h2 class="sub-title">Ønskelister</h2>


<table>


    <tbody>
    <tr th:each ="wishlist : ${wishlists}">
        <td th:text="${wishlist.title}"></td>

        <td>
            <a th:href="@{/showAddItem(wishlistIdid=${wishlist.id})}" class="button">
            <a th:href="@{/showAddItem/{id}(id=${wishlist.id})}" class="button">
                Tilføj ønsker
             
                Tilføj ønske til ønskeliste
            </a>
            <a th:href="@{/wishlist/{id}(id=${wishlist.id})}" class="button">
                Se ønskeliste
            </a>
            <a th:href="@{/wishlist/deletewishlist/{id}(id=${wishlist.id})}" class="button">
                Slet
            </a>

        </td>
    </tr>

    </tbody>

</table>


</div>
</body>
</html>