<!DOCTYPE html>
<html>
<head>
    <title>Wishlists</title>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<h1>Ønskelister</h1>


<table>

    <thead>

    <tr>
        <th>Navn</th>
        <th>Handling</th>
    </tr>
    </thead>


    <tbody>
    <tr th:each ="wishlist : ${wishlists}">
        <td th:text="${wishlist.title}"></td>

        <td>
            <a>
                <button type="button">Tilføj ønsker</button>
            </a>
            <a>
                <button type="button">Se ønskeliste</button>
            </a>
            <a>
                <button type="button">Slet</button>
            </a>

        </td>



    </tr>

    </tbody>

</table>



</body>
</html>