<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout}">

<body>
<div th:fragment="content">
  <h2 class="sub-title">Ønskeliste</h2>


  <div
          th:each="item : ${items}" class="items">

    <hr>
    <p th:text="${item.getName()}"></p>

    <p th:text="${item.getDescription()}"></p>

    <p th:text="${item.getPrice()}"></p>

    <p> <a th:href="${item.getLink()}" target="_blank">Link</a>  </p>

    <p> <a th:href="@{/items/deleteItem/{id}(id=${item.getId()})}">Slet ønske</a>   </p>

    <p> <a th:href="@{/items/updateItem/{id}(id=${item.getId()})}">Rediger ønske </a></p>
    <hr>

  </div>

</div>

</body>
