<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout}">

<body>
<div th:fragment="content">
<h2>Ønskelister</h2>


<table>

    <thead>

    <tr>
        <th>Navn</th>
        <th>Handling</th>
    </tr>
    </thead>


    <tbody>
    <tr th:each ="wishlist : ${wishlists}">
        <td th:text="${wishlist.title}"></td>

        <td>
            <a th:href="@{/showAddItem}" class="button">
                Tilføj ønsker
            </a>
            <a class="button">
                Se ønskeliste
            </a>
            <a class="button">
                Slet
            </a>

        </td>



    </tr>

    </tbody>

</table>


</div>
</body>
</html>